In [7]:
#Import Packages
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.getOrCreate()

# loading Stored Dataset

In [8]:
# load Dataset
df = spark.read.csv("D:/BigData Project/loan.csv", inferSchema = True, header = True)
#Describe Schema
df.printSchema()

root
 |-- Customer_ID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Family Size: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Expenditure: integer (nullable = true)
 |-- Use Frequency: integer (nullable = true)
 |-- Loan Category: string (nullable = true)
 |-- Loan Amount: string (nullable = true)
 |-- Overdue: integer (nullable = true)
 |--  Debt Record: string (nullable = true)
 |--  Returned Cheque: integer (nullable = true)
 |--  Dishonour of Bill: integer (nullable = true)

In [9]:
df.show(5)

+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|  Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|    IB14001| 30|  MALE|BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|      HOUSING| 10,00,000 |      5|      42,898|               6|                 9|
|    IB14008| 44|  MALE|   PROFESSOR|       MARRIED|          6| 51000|      19999|            4|     SHOPPING|     50,000|      3|      33,999|               1|                 5|
|    IB14012| 30|FEMALE|     DENTIST|        SINGLE|          3| 58450|      27675|            5|   TRAVELLING|     75,000|      6|      20,876|               3|                 1|
|    IB14018| 29|  MALE|     TEACHER|       MARRIED|          5| 45767|      12787|            3|    GOLD LOAN|  6,00,000 |      7|      11,000|               0|                 4|
|    IB14022| 34|  MALE|      POLICE|        SINGLE|          4| 43521|      11999|            3|   AUTOMOBILE|  2,00,000 |      2|      43,898|               1|                 2|
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
only showing top 5 rows

In [15]:
#Save With An Copy
copy_df = df

In [16]:
#length Of Columns
len(df.columns)

15

In [17]:
#Number Of rows
df.count()

500

# 1) Number  Of Loans In Each Category

In [31]:
# Number Of Loans In Each Category 
df.groupBy("Loan Category").count().orderBy("count", ascending = False).show()

+------------------+-----+
|     Loan Category|count|
+------------------+-----+
|         GOLD LOAN|   77|
|           HOUSING|   67|
|        AUTOMOBILE|   60|
|        TRAVELLING|   53|
|       RESTAURANTS|   41|
|COMPUTER SOFTWARES|   35|
|          SHOPPING|   35|
|          BUSINESS|   24|
|  EDUCATIONAL LOAN|   20|
|        RESTAURANT|   20|
|           DINNING|   14|
|       ELECTRONICS|   14|
|   HOME APPLIANCES|   14|
|       AGRICULTURE|   12|
|       BOOK STORES|    7|
|          BUILDING|    7|
+------------------+-----+

# 2) number of people who have taken more than 1 lack loan

In [32]:
#Number Of People Who Have Taken More than 1 Lack Loan
count_lack_loan = df.filter(df["Loan Amount"]>"1,00,000").count()
# Print Number Of People Who Taken More Than 1 Lack Loan
print("_Number of People Who Taken More Than 1 Lack Loan: ", count_lack_loan)

_Number of People Who Taken More Than 1 Lack Loan:  379

# 3) number of people with income greater than 60000 pounds

In [36]:
#Number Of People With Income Greater Than 60000 Pounds
count_great_than_60000 = df.filter(df["Income"]>"60000").count()
# Print Number Of People With Income Greater Than 60000 Pounds
print("_Number Of People With Income Greater Than 60000 Pounds: ", count_great_than_60000)

_Number Of People With Income Greater Than 60000 Pounds:  198

# 4) number of people with 2 or more cheques and income less than 50000

In [37]:
#Number Of People with 2 Or More Cheques And Income Less Than 50000
count_2_or_more_cheques_and_income_less_than_50000 = df.filter((df[" Returned Cheque"]>"1") & (df["Income"]<"50000")).count()
# Print Number Of People with 2 Or More Cheques And Income Less Than 50000
print("_Number Of People with 2 Or More Cheques And Income Less Than 50000: ", count_2_or_more_cheques_and_income_less_than_50000 )

_Number Of People with 2 Or More Cheques And Income Less Than 50000:  137

# 5) number of people with 2 or more cheques and are single

In [38]:
#Number Of People With 2 Or More Cheques And Are Single
count_2_or_more_cheques_and_single = df.filter((df[" Returned Cheque"]>"1") & (df["Marital Status"]<"SINGLE")).count()
# Print Number Of People With 2 Or More Cheques And Are Single
print("_Number Of People With 2 Or More Cheques And Are Single: ", count_2_or_more_cheques_and_single)

_Number Of People With 2 Or More Cheques And Are Single:  283

# 6) number of people with expenditure over 50000 a month

In [44]:
#Number Of People With Expenditure Over 50000 A Month 
count_over_50000_a_mounth = df.filter((df["Expenditure"] > "50000")).count()
# Print Number Of People With Expenditure Over 50000 A Month
print("_Number Of People With Expenditure Over 50000 A Month: ", count_over_50000_a_mounth)

_Number Of People With Expenditure Over 50000 A Month:  6